*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto auto;
  padding: 0 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}

.content__card-link:hover h2,
.content__card-link:hover p {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;  
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 193px;
  height: 103px;
  object-fit: cover;
  object-position:center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 7px;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  box-sizing: border-box;
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2.5px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:active {
  border: none;
  padding: 3.5px 0;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 18px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.button, .search-form__label:has(.search-form__pseudo-checkbox){
  cursor: pointer;
}

.button {
  width: 100%;
  border: 1px solid #fff;
  padding: 6px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: flex-end;
}

.title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}